:root {
    --border-radius: 10px;
    --background-color: white;
    --foreground-color: black;
    --layout-color: violet;
    --box-shadow: 2px 2px 8px rgb(88, 88, 88);
    --invert: 1;
}

a {
    border: none;
    display: grid;
    height: 50%;
    margin: auto;
    outline: none;
    place-content: center;
    text-decoration: none;
}

body {
    background-image: linear-gradient(115deg, pink, skyblue);
    display: grid;
    font-family: sans-serif;
    gap: 25px;
    grid-template-areas: 
    "header header header header header" 
    "banner banner banner banner banner " 
    "top_nav top_nav top_nav top_nav top_nav " 
    "slide_show slide_show slide_show slide_show slide_show " 
    "side_nav . main_panel right_panel . " 
    ". . main_panel right_panel . "  
    "footer footer footer footer footer" ;
    grid-template-columns: 250px 200px 1000px 600px 1fr;
    grid-template-rows: 60px 100px 40px 100px 700px 1fr 150px;
    height: 199.5vh;
    opacity: 0;
    overflow: auto;
    padding: 5px 25px;
    transition: opacity 0.5s;
}

body > div {
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: grid;
    place-content: center;
    text-align: justify;
}

#header {
    background-image: linear-gradient(90deg, DarkViolet, RebeccaPurple);
    display: grid;
    grid-area: header;
    grid-template-areas: 
    "logo search_bar search_bar b";
    grid-template-columns: 400px 200px 1fr 400px;
    grid-template-rows: 1fr;
    place-content: center left;
    position: sticky;
    top: 5px;
    width: 100%;
    z-index: 9988;
}

#brand_logo {
    display: grid;
    grid-area: logo;
    grid-auto-flow: column;
    place-content: center left;
}

#logo {
    filter: invert(var(--invert));
    height: 55px;
    margin: auto 10px;
}

#brand {
    color: aqua;
    font-size: 22px;
    font-weight: bolder;
    width: max-content;
}

#search_bar {
    background-color: var(--background-color);
    border: 1px solid gray;
    border-radius: 15px;
    display: grid;
    grid-area: search_bar;
    grid-template-columns: 1fr 35px;
    height: 40%;
    margin: auto 20px;
    opacity: 0.5;
    transition: opacity 0.35s, width 0.35s;
    width: 20%;
}

#search_bar:focus-within {
    opacity: 1;
    width: 60%;
}

#search_area {
    border: none;
    border-radius: 15px;
    float: left;
    font-size: 15px;
    height: 65%;
    outline: none;
    padding-top: 5px;
    text-indent: 10px;
    width: 88%;
}

#search_button {
    background-color: var(--background-color);
    background-image: url(./Search_Icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    border: none;
    border-radius: var(--border-radius);
    float: right;
    height: 100%;
    outline: none;
    width: 20px;
}

#b_section {
    display: grid;
    gap: 15px;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    place-content: center;
}

#b_section > a {
    border-radius: 25px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#cart_button {
    margin: auto 15px;
    width: 35px;
}

#cart_button_img {
    filter: invert();
    height: 35px;
}

#signup_button {
    background-color: violet;
    width: 125px;
}

#signup_button:hover {
    background-color: hotpink;
}

#signup_button:active {
    background-color: deeppink;
}

#login_button {
    background-color: mediumslateblue;
    width: 125px;
}

#login_button:hover {
    background-color: slateblue;
}

#login_button:active {
    background-color: midnightblue;
}

#banner {
    background-image: url(./Wide\ Blue\ Sky.jpg);
    color: white;
    font-size: 50px;
    font-weight: bold;
    grid-area: banner;
}

#top_nav {
    background-color: var(--layout-color);
    font-size: 20px;
    font-weight: bold;
    grid-area: top_nav;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    padding-left: 25px;
    place-content: center left;
    position: sticky;
    top: 70px;
    z-index: 1000;
}

.top_nav_link {
    color: white;
    height: 96.5%;
    padding: 0px 50px;
    transition: background-color 0.2s;
}

#top_nav > a:hover {
    background-color: HotPink;
    border-bottom: 3px solid crimson;
}

#current {
    border-bottom: 3px solid rebeccapurple;
    color: rebeccapurple;
}

#slide_show {
    font-size: 35px;
    grid-area: slide_show;
    position: relative;
    text-indent: 0px;
}

.slide {
    border-radius: var(--border-radius);
    display: grid;
    height: 100%;
    place-content: center;
    position: absolute;
    text-align: center;
    transition: opacity 0.35s;
    width: 100%;
    z-index: 1;
}

#slide_1 {
    background-color: crimson;
    opacity: 0;
}

#slide_2 {
    background-color: greenyellow;
}

#slide_3 {
    background-color: gold;
    opacity: 0;
}

#selector {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    left: 50%;
    place-content: center;
    position: absolute;
    top: 85%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.option {
    background-color: deepskyblue;
    border-radius: 50%;
    height: 15px;
    opacity: 0.35;
    width: 15px;
}

#side_nav {
    background-color: transparent;
    box-shadow: none;
    grid-area: side_nav;
    grid-template-columns: 1fr;
    place-content: start;
    position: sticky;
    left: 0px;
    top: 125px;
}

#side_nav > a {
    background-color: var(--layout-color);
    border-top: 3px solid var(--layout-color);
    border: 2px solid DarkViolet;
    box-shadow: var(--box-shadow);
    color: white;
    display: grid;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    place-content: center left;
    text-indent: 10px;
    transition: transform 0.1s, box-shadow 0.1s;
    width: 100%;
}

#side_nav > a:hover {
    box-shadow: 8px 2px 12px gray;
    transform: translate(-5px, -5px);
}

#side_nav_top {
    height: 50px;
}

#main_panel {
    font-size: 20px;
    gap: 25px;
    grid-area: main_panel;
    grid-template-columns: 1fr;
    place-content: start center;
}

.main_section {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    height: 500px;
    place-content: start center;
}

.main_section_header {
    border-bottom: 5px solid darkviolet;
    color: hotpink;
    display: grid;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 10px;
    place-content: center left;
    text-indent: 5px;
}

.main_section_content {
    display: grid;
    gap: 25px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-content: center left;
}

.main_section_content_item {
    font-size: 20px;
    margin: 0px auto;
    text-align: center;
    width: 200px;
}

.main_section_content_item > img {
    height: 300px;
}

#right_panel {
    gap: 25px;
    grid-area: right_panel;
    grid-template-areas: 
    "right_header right_header";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px;
    padding: 15px;
    place-content: start center;
}

#right_panel > div {
    background-color: rgb(238, 130, 238, 0.15);
    border-radius: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    place-content: center;
    text-align: center;
}

#right_header {
    grid-area: right_header;
}

.item {
    height: 300px;
}

.item_img {
    height: 210px;
    margin: auto;
    width: 140px;
}


#footer {
    background-color: var(--layout-color);
    color: white;
    display: grid;
    gap: 100px;
    grid-area: footer;
    grid-auto-flow: column;
    place-content: center;
}

.footer_item {
    display: grid;
    gap: 5px;
}
.footer_item_heading {
    font-weight: bold;
}

@media screen and (max-width: 1920px) {
    body {
        grid-template-areas:     "header header header header header" 
        "banner banner banner banner banner " 
        "top_nav top_nav top_nav top_nav top_nav " 
        "slide_show slide_show slide_show slide_show slide_show " 
        "side_nav . main_panel right_panel . " 
        ". . main_panel right_panel . "  
        "footer footer footer footer footer" ;;
        grid-template-columns: 250px 100px 800px 400px 1fr;
        grid-template-rows: 60px 100px 40px 100px 700px 1fr 150px;
    }
}

@media screen and (max-width: 1600px) {
    body {
        grid-template-columns: 250px 100px 600px 300px 1fr;
        grid-template-rows: 60px 100px 40px 100px 700px 1fr 150px;
    }
}

@media screen and (max-width: 1080px) {
    body {
        grid-template-areas: 
        "header header" 
        "top_nav top_nav " 
        "slide_show slide_show " 
        "main_panel right_panel " 
        "main_panel right_panel "  
        "footer footer" ;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 60px 40px 100px 700px 1fr 150px;
    }

    #header {
        grid-template-columns: 50px 200px 1fr 400px;
    }

    #brand {
        display: none;
    }

    #side_nav {
        display: none;
    }

    #right_panel {
    grid-area: right_panel;
    grid-template-areas: 
    "item_1" 
    "item_2"
    "item_3" 
    "item_4" ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    #banner {
        display: none;
    }

    .item_img {
        height: 180px;
        width: 120px;
    }
}

@media screen and (max-width: 768px) {
    body {
        gap: 10px;
        grid-template-areas: 
        "header header header header header" 
        "top_nav top_nav top_nav top_nav top_nav" 
        "slide_show slide_show slide_show slide_show slide_show" 
        "main_panel main_panel main_panel main_panel main_panel" 
        "right_panel right_panel right_panel right_panel right_panel" 
        "footer footer footer footer footer" ;
        grid-template-columns: 1fr 2fr 7fr 3fr 3fr;
        grid-template-rows: 50px 50px 80px 8fr 4fr 80px;
        height: 100vh;
        padding: 0px 15px;
        width: calc(93.5vw - 15px);
    }

    #header {
        background-color: Indigo;
        display: grid;
        grid-area: header;
        grid-template-columns: 50px 100px 1fr 80px;
        grid-template-rows: 1fr;
        place-content: center left;
        width: 100%;
    }

    #logo {
        height: 45px;
    }

    #brand {
        display: none;
    }
    
    #search_bar {
        height: 25px;
    }

    #search_button {
        height: 25px;
        opacity: 0;
        transition: opacity 0.35s 0.15s;
        width: 25px;
    }

    #search_area {
        height: 15px;
        width: 70%;
    }

    #search_area:focus ~ #search_button {
        opacity: 1;
    }

    #b_section {
        display: none;
        gap: 15px;
        width: 100px;
    }

    #b_section a {
        font-size: 15px;
        height: 35px;
        width: 120px;
    }

    #top_nav {
        gap: 15px;
        font-size: 12px;
        padding-left: 10px;
    }

    #slide_show {
        font-size: 30px;

    }

    #side_nav {
        display: none;
    }

    #right_panel {
        grid-area: right_panel;
        grid-template-areas: 
        "item_1 item_2" 
        "item_3 item_4" ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #right_panel > div {
        grid-auto-flow: column;
        grid-template-rows: 1fr;
    }

    .item_img {
        height: 9vh;
        width: 6vw;
    }
}