body {
    grid-template-areas: 
    "top top top top top " 
    "side_nav . main . ." 
    ". . main . ."  
    "footer footer footer footer footer" ;
    grid-template-columns: 220px 1fr 1280px 1fr 220px;
    grid-template-rows: 100px 700px max-content 350px;
}

#main_cate {
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: max-content;
}

.main_cate_item {
    height: 100px;
}

.main_cate_item img {
    height: 40%;
}