body {
    background-color: rgb(175, 238, 238); 
    font-family: Verdana;
    max-width: 100%;
    overflow: overlay;
    overflow-x: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

#header {
    border: none;
}

#top_menu {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    box-shadow: 3px 3px 6px rgb(211, 211, 211, 0.65);
    height: 60px;
    margin: 0px 25px;
}

#brand_logo {
    background-color: dodgerblue;
    border: 1px solid deepskyblue;
    border-radius: 25px;
    color: white;
    float: left;
    font-size: 33px;
    font-weight: bolder;
    height: 50px;
    line-height: 50px;
    margin-left: 35px;
    margin-top: 4px;
    text-align: center;
    width: 150px;
}

#brand_logo:active {
    color: lightgray;
    background-color: darkred;
}

#search_area {
    background-color: white;
    border: 1px solid black;
    border-radius: 50px;
    float: left;
    height: 25px;
    margin-top: 16px;
    margin-left: 25px;
    width: 500px;
}

#search_bar {
    border: none;
    border-radius: 50px;
    float: left;
    height: 23px;
    text-indent: 10px;
    width: 465px;
}

#search_bar:focus {
    outline: none;
}

#search_button
{
    background-color: white;
    background-image: url(../Shared\ Resources/Search_Icon.png);
    background-repeat: 0px 0px no-repeat;
    background-size: 21px;
    border: none;
    border-radius: 50px;
    float: right;
    height: 21px;
    margin-top: 2px;
    margin-right: 10px;
    width: 21px;
}

#signin_button {
    background-color: deepskyblue;
    border: 1px solid dodgerblue;
    border-radius: 25px;
    color: azure;
    float: right;
    font-size: 20PX;
    font-weight: bold;
    height: 50px;
    margin: 6px -15px;
    width: 150px;
}

#signin_button:hover {
    background-color: dodgerblue;
}

#signin_button:active {
    background-color: steelblue;
    color: lightgray;
}

#login_button {
    background-color: lightgreen;
    border: 1px solid lime;
    border-radius: 25px;
    color: darkcyan;
    float: right;
    font-size: 20PX;
    font-weight: bold;
    height: 50px;
    margin: 6px 35px;
    width: 150px;
}

#login_button:hover {
    background-color: limegreen;
}

#login_button:active {
    background-color: green;
}

#banner {
    background-image: url(../Shared\ Resources/Wide\ Blue\ Sky.jpg);
    border-radius: 50px;
    clear: both;
    color: azure;
    height: 300px;
    margin: 25px 25px;
    text-align: center;
}

#banner_text {
    font-size: 60px;
    font-weight: bolder;
    height: 165px;
    line-height: 200px;
}

#strip_line {
    background-color: skyblue;
    border-radius: 50px;
    height: 5px;
    margin: auto;
    width: 80%;
}

#banner_descripsion {
    font-size: 20px;
    height: 85px;
    line-height: 100px;
}

#top_navigation_bar {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    box-shadow: 3px 3px 6px rgb(211, 211, 211, 0.65);
    height: 45px;
    margin: 25px 25px;
    padding-left: 15px;
}

#side_navigation_button {
    background: paleturquoise;
    border: none;
    border-radius: 50px;
    float: left;
    height: 35px;
    margin-top: 5px;
    position: relative;
    width: 35px;
}

.side_nav {
    border-radius: 25px;
    font-size: 25px;
    left: -20px;
    position: absolute;
    margin-top: 10px;
    width: max-content;
    z-index: 10000;
}

#side_nav_bar {
    transform: translateX(-1000px);
    transition: transform 0.5s;
}

.side_nav > ul {
    list-style-type: none;
    padding: 0px;
}

.side_nav > ul > li {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 2px 2px 3px rgb(211, 211, 211, 0.75);
    display: grid;
    margin: 10px 0px;
    padding: 15px 35px;
    place-content: center left;
}

.side_nav > ul li:hover {
    background-color: lightgray;
    box-shadow: 1px 1px 2px rgb(211, 211, 211, 0.85);
}

.side_nav > ul li:active {
    background-color: gray;
    box-shadow: 1px 1px 1px rgb(211, 211, 211, 0.85);
}

.sub {
    left: 100%;
    margin-left: 10px;
    margin-top: -25px;
    opacity: 0.5;
    transition: opacity 0.5s;
}

#top_navigation_area a {
    color: dodgerblue;
    float: left;
    font-weight: bold;
    padding: 12px 25px;
    text-decoration: none;
}

#top_navigation_area a:hover {
    border-bottom: 2px solid deepskyblue;
    color: deepskyblue;
}

#top_navigation_area a:active {
    background-color: aliceblue;
    color: steelblue;
}

#info_banner_area {
    background-color: rgb(255, 255, 255, 0.35);
    height: 220px;
    padding: 0px 10x;
    margin: -15px;
}

.info_banner {
    border-radius: 50px;
    color: azure;
    float: left;
    font-size: 50px;
    line-height: 150px;
    height: 150px;
    position: relative;
    text-align: center;
    transition: transform 1s;
    width: 90%;
}

#ib_1{
    background-color: chocolate;
    margin: 10px 125px;
    margin-top: 35px;
    transform: translateX(0px);
}

#ib_2 {
    background-color: crimson;
    position: absolute;
    top: 0px;
    transform: translateX(-2350px);
    width: 100%;
}

#ib_3 {
    background-color: gold;
    position: absolute;
    top: 0px;
    transform: translateX(2350px);
    width: 100%;
}

#info_banner_selector {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    clear: both;
    color: azure;
    height: 30px;
    line-height: 35px;
    margin: auto;
    margin-top: 25px;
    opacity: 0.75;
    text-align: center;
    width: 150px;
}

.selector {
    background-color: deepskyblue;
    border: 1px solid aliceblue;
    border-radius: 100px;
    height: 20px;
    margin: 5px;
    opacity: 0.35;
    width: 20px;
}

#default_selector {
    opacity: 1;
}



#main {
    height: 1000px;
    margin-top: 15px;
}

#main_container {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    float: left;
    height: 100%;
    margin-left: 3.5vw;
    box-shadow: 3px 3px 6px rgb(211, 211, 211, 0.65);
    width: 60vw;
}

#right_container {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 50px;
    float: left;
    height: 100%;
    margin-left: 25px;
    box-shadow: 3px 3px 6px rgb(211, 211, 211, 0.65);
    width: 30vw;
}
.timemodel{
    display: grid;
    place-content: center;
    color: white;
    width: 40px;
    text-align: center;
    height: 30px;
}
.payments{
    border-bottom-style: dotted;
    border-color: darkblue;
}
.payments > p{
    font-weight: bold;
    font-size: x-large;

}
#right_container .xep{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
.flex-container > button {
    background-color: #f1f1f1;
    width: 100px;
    margin: 5px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    border-radius: 30px;
  }
  .tooltip {
    position: relative;
  }
  .tooltip:before,
  .tooltip:after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
  .tooltip:after {
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0,0,0,.75); 
    border-left: 6px solid transparent;
    content: '';
    height: 0;
    top: 20px;
    left: 20px;
    width: 0;
}
  .tooltip:before {
    background: rgba(0,0,0,.75);
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    top: 50px;
    white-space: nowrap;
  }
  
  /* the animations */
  /* fade */
  .tooltip.fade:after,
  .tooltip.fade:before {
    transform: translate3d(0,-20px,0);
    transition: all .15s ease-in-out;
  }
  .tooltip.fade:hover:after,
  .tooltip.fade:hover:before {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  :root {
    --cooltipz-fontawesome: FontAwesome;
  }
.custom--revert {
      --cooltipz-bg-color: #fff;
      --cooltipz-text-color: #000;
      --cooltipz-border-color: #fff;
    }
.giohang{
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 30px;
}
.btn-lg{
    font-size: .75rem;
}

 .product-intro__freeshipping {
  margin-top: 25px;
  background-color: #f7f8fa;
  padding: auto;
}

.product-intro__freeshipping-item>div {
  display: table-cell;
  vertical-align: top;
}


.product-intro__freeshipping-icon {
  position: relative;
  width: 32px;
}
#myDIV {
  height:300px;
  background-color:#f7f8fa;
  padding:30px;
  margin-top: 30px;
}
#blueDIV {
  
  border:30px solid coral;
  padding:10px;
  height: 200px;
  background-color:lightblue;
  box-sizing:border-box;
}
#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.column{
	width: 600px;
	padding: 10px;

}

#featured{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid black;

}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider::-webkit-scrollbar {
		width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
 
#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
   border-radius: 100px;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;
}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}

