:root {
    --bgColor: white;
}

.noselect, div {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

body {
    grid-template-areas: 
    "header header header header header" 
    "top_nav top_nav top_nav top_nav top_nav " 
    "side_nav . main_panel . . " 
    ". . main_panel . ."
    "footer footer footer footer footer" ;
    grid-template-columns: 300px 500px 800px 600px 240px;
    grid-template-rows: 75px 50px 500px 1fr 300px;
    height: 1300px;
}

#main_form {
    background-image: linear-gradient(115deg ,deepskyblue, HotPink);
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
    display: grid;
    grid-area: main_panel;
    grid-template-columns: 1fr;
    height: 80%;
    margin: auto;
    padding-top: 25px;
    place-content: start center;
    text-align: center;
    width: 400px;
}

.text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
}

.text_input {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    height: 30px;
    margin: auto;
    opacity: 0.65;
    text-indent: 10px;
    transition: opacity 0.35s;
    width: 80%;
}

input:hover {
    opacity: 0.75;
}

input:focus {
    opacity: 1;
    outline: none;
}

.button {
    background-color: dodgerblue;
    border: none;
    border-radius: 50px;
    box-shadow: 4px 4px 12px gray;
    color: white;
    display: grid;
    font-size: 20px;
    font-weight: bolder;
    height: 40px;
    margin: auto;
    margin-top: 25px;
    place-content: center;
    width: 90%;
}

.button:hover {
    background-color: steelblue;
}

.button:active {
    background-color: midnightblue;
}